
.env.development.local
# Environment files with secrets
.env*.local
.env.local
.env.local.template
.env.production.local
# Ignore env files with secrets
.vercel

# Dependencies
node_modules/
.next/
out/
build/
dist/

# Prisma env
.env
core
k6
k6-*
*.tar.gz
k6-*/k6
